:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

img {
  max-width: 1200px;
  width: 100%;
  height: auto;
}

.header {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header img {
  max-height: 3rem;
}

.banner {
  height: 80vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  color: #eee;
  background-color: rgba(0, 0, 0, 0.4);
}

.banner-image-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 80vh;
  position: absolute;
}

.banner-image-container img {
  z-index: -1;
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 100%;
}

.banner h1 {
  margin: 0;
  font-weight: 600;
  font-size: 2.5rem;
  text-align: center;
}

.banner p {
  width: 37rem;
  max-width: 100%;
  font-size: 1.8rem;
  line-height: 115%;
  text-align: center;
}

h2 {
  text-align: center;
  font-weight: 600;
  margin-bottom: 1rem;
}

.section {
  padding-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #D8D8D8;
}

.button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.grid-container {
  padding-top: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 45%))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 45%));
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  row-gap: 1.5rem;
}

.product h3 {
  margin-top: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
}

.product p {
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.product-image {
  height: 30vw;
  min-height: 10rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-image * {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}